nav {
  display: flex;
  min-width: 1500px;
  padding: 25px 10px 40px 10px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
nav::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background: rgb(201, 201, 201);
}
nav .logo {
  flex: 1;
  display: flex;
  align-items: center;
}
nav .navLinks {
  flex: 2;
}
nav .navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navLinks .links {
  display: flex;
  gap: 25px;
}
nav .navLinks .links a {
  text-decoration: none;
  letter-spacing: 1.4px;
}
nav .navLinks .links a:hover {
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
nav .menuBtn {
  padding: 8px 20px;
  background: transparent;
  border: 1px solid #333;
  border-radius: 20px;
  font-size: 16px;
}
nav .menuBtn:hover {
  color: greenyellow;
  background: #222;
  transition: 0.3s;
  cursor: pointer;
}
nav .hamburger {
  display: none;
}
nav svg {
  font-size: 1.75rem;
}
@media (max-width: 1520px) {
  nav {
    min-width: 100%;
    padding: 25px 20px 40px 20px;
  }
}
@media (max-width: 1100px) {
  nav {
    z-index: 20;
    position: unset;
    background: #ffffff63;
    padding: 10px 30px;
  }
  nav::after {
    content: "";
    display: none;
  }
  nav .hamburger {
    display: flex;
  }
  nav .navLinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -100%;
    width: 100%;
    left: 0;
    padding: 15px 7.5px;
    z-index: -1;
    transition: 0.3s;
  }
  nav .showmenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 67px;
    width: 100%;
    left: 0;
    padding: 15px 7.5px;
    transition: 0.3s;
    margin: 0 15px;
    width: 96.7vw;
    margin-right: 30px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  nav .showmenu .links {
    flex-direction: column;
    text-align: center;
  }
  nav .menuBtn {
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  nav .showmenu {
    width: 96vw;
  }
}
@media (max-width: 650px) {
  nav .showmenu {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}
